@model Morgenmadsbuffeten.Models.KitchenOverviewViewModel

@{
    ViewData["Title"] = "Show Overview";
    var expected = Model.ExpectedGuests;
    var checkedIn = Model.CheckedInAmount;
    var notCheckedIn = Model.NotCheckedInAmount;
}

<h1>Kitchen - Overview</h1>
<p><b>Date: </b><span>@Model.Date.ToString("MM/dd/yyyy")</span></p>

<hr />

@* Expected amounts *@
<b>Expected Customers (Amount)</b>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>@Html.DisplayNameFor(m => m.ExpectedGuests.TotalAmount)</td>
        <td>@Html.DisplayNameFor(m => m.ExpectedGuests.NumberOfAdults)</td>
        <td>@Html.DisplayNameFor(m => m.ExpectedGuests.NumberOfChildren)</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@expected.TotalAmount</td>
        <td>@expected.NumberOfAdults</td>
        <td>@expected.NumberOfChildren</td>
    </tr>
    </tbody>
</table>

@* Checked-In amounts *@
<b>Checked-In Customers (Amount)</b>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>@Html.DisplayNameFor(m => m.CheckedInAmount.TotalAmount)</td>
        <td>@Html.DisplayNameFor(m => m.CheckedInAmount.AdultsAmount)</td>
        <td>@Html.DisplayNameFor(m => m.CheckedInAmount.ChildrenAmount)</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@checkedIn.TotalAmount</td>
        <td>@checkedIn.AdultsAmount</td>
        <td>@checkedIn.ChildrenAmount</td>
    </tr>
    </tbody>
</table>

@* Not Checked-In amounts *@
<b>Not Checked-In Customers (Amount)</b>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>@Html.DisplayNameFor(m => m.NotCheckedInAmount.TotalAmount)</td>
        <td>@Html.DisplayNameFor(m => m.NotCheckedInAmount.AdultsAmount)</td>
        <td>@Html.DisplayNameFor(m => m.NotCheckedInAmount.ChildrenAmount)</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@notCheckedIn.TotalAmount</td>
        <td>@notCheckedIn.AdultsAmount</td>
        <td>@notCheckedIn.ChildrenAmount</td>
    </tr>
    </tbody>
</table>

<div class="row text-center" style="margin-top: 5%;">
    <div class="col-sm-6 col-lg-3">
        <div class="hotelButton navButton">
            <a asp-action="Index">
                <img class="center-block img-responsive" src="~/images/goback.png" alt="GoBackButton" />
                <h4>Back</h4>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="hotelButton navButton">
            <a asp-action="ShowOverview" asp-route-dateTime="@Model.Date.ToString("MM/dd/yyyy")">
                <img class="center-block img-responsive" src="~/images/reload.png" alt="ReloadButton"/>
                <h4>Update</h4>
            </a>
        </div>
    </div>
</div>